
/*=== Main Blog 
========================*/

.main-blog {
  border-top: 1px solid rgb(var(--color-border)); 
}

/* Title Page */
.page--title{
  margin: 0;
}

/* Sub Description Title */
.description {
  max-width: 55rem;
  line-height: calc(1 + 0.7/var(--font-body-scale) );
  margin-bottom: 0;
}

.description.center {
  margin-left: auto;
  margin-right: auto;
}

.description.right {
  margin-left: auto;
}

@media screen and (max-width: 990px) {
  .description {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
  }
}

.card-wrapper {
  width: 100%;
}


/*=== Layout Grid 
========================*/
.blog-articles {
  display: grid;
  column-gap: 0;
  row-gap: 0;
}

@media screen and (min-width: 550px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar-left .list-blogs {
    border-left: 1px solid rgb(var(--color-border));
  }
  
  .sidebar-right .list-blogs {
    border-right: 1px solid rgb(var(--color-border));
  }
}

/*=== Layout List 
========================*/

@media screen and (min-width: 750px) {
  .blog-articles--collage > *{
    grid-column: 1/4;
    text-align: left;
  }
}

.blog-layout-default .blog-articles--collage .blog-articles__article {
  border-right: 0 !important;
}

@media screen and (max-width: 750px) {
  .blog-articles--collage {
    grid-template-columns: 1fr;
  }
}

.blog-articles--collage .article .card {
  flex-direction: row;
}

@media screen and (max-width: 750px) {
  .blog-articles--collage .article .card {
    flex-direction: column;
  }
}

.blog-articles--collage .article .card .card__content {
  padding: var(--grid-desktop-vertical-spacing);
}

@media screen and (max-width: 750px) {
  .blog-articles--collage .article .card .card__content {
    padding: var(--grid-desktop-vertical-spacing)/2 0;
  }
}

/* Title Page */
.header-page > div:first-child {
  padding: calc(var(--grid-desktop-horizontal-spacing)/2);
  border-bottom: 1px solid rgb(var(--color-border));
}

@media screen and (min-width: 750px) {
  .header-page > div:first-child {
    padding: calc(var(--grid-desktop-horizontal-spacing)/2) var(--grid-desktop-horizontal-spacing);
  }
}

.header-page .wrap-title {
  padding: calc(var(--grid-desktop-horizontal-spacing)/2);
}

@media screen and (min-width: 750px) {
  .header-page .wrap-title {
    padding: var(--grid-desktop-horizontal-spacing);
  }
}



/* Common Article */
.blog-articles__article {
  border-bottom: 1px solid rgb(var(--color-border));
  padding: 4.8rem;
}
 
@media screen and (max-width: 750px) {
  .blog-articles__article {
    padding: 2.4rem;
  } 
}

/* Blog Default Layout Grid*/

@media screen and (min-width: 550px) {
  .blog-articles--grid .blog-articles__article:not(:nth-child(2n)) {
    border-right: 1px solid rgb(var(--color-border));
  }
}

@media screen and (min-width: 1200px) {
  .blog-articles--grid .blog-articles__article {
    border-right: 1px solid rgb(var(--color-border));
  }

  .blog-articles--grid .blog-articles__article:nth-child(3n) {
    border-right: 0;
  } 
}

/* Blog Simple Layout*/


/* Pagination */

.main-blog .sidebar-right .pagination-wrapper {
  border-left: 0;
  border-right: 1px solid rgb(var(--color-border));
}

@media screen and (max-width: 1200px ) {
  .main-blog .sidebar-right .pagination-wrapper {
    border-right: 0;
  }
}


